{% macro create(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {{ 'sylius.create'|trans }}</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger"><i class="fa fa-remove"></i> {{ 'sylius.cancel'|trans }}</a>
</div>
{% endmacro %}

{% macro update(url) %}
<div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'sylius.save_changes'|trans }}</button>
    <a href="{{ app.request.headers.get('referer', url) }}" class="btn btn-danger"><i class="fa fa-remove"></i> {{ 'sylius.cancel'|trans }}</a>
</div>
{% endmacro %}
