{% extends 'OdiseoAppBundle:Frontend:layout.html.twig' %}
{% block bodyClass %}noticias{% endblock %}

{% block content %}
<div id="notioscar">
    <div class="oscarlogo-noti2 hidden-xs">
        <a href="{{ path('odiseo_app_frontend_homepage') }}"><img src="{{ asset('bundles/odiseoapp/images/logooscar.png') }}" alt="Logo Oscar Lopez" title="Logo Oscar Lopez"></a>
    </div>
    <div class="oscarlogo visible-xs">
        <a href="{{ path('odiseo_app_frontend_homepage') }}"><img src="{{ asset('bundles/odiseoapp/images/logooscar.png') }}" alt="Logo Oscar Lopez" title="Logo Oscar Lopez"></a>
    </div>

    <div class="contenoti">
        <h2 id="titunoti" class="helvetica-ultralight">{{ 'odiseo.news.title'|trans }}</h2>
        <div id="noticonte" class="helvetica-ultralight bold">
            {% if mainNews %}
                <p>{{ mainNews.textLocale(app.request.locale)|raw}}</p>
            {% endif %}
        </div>
    </div>
    <div class="oscarlogo-noti">
        <a href="{{ path('odiseo_app_frontend_homepage') }}"><img src="{{ asset('bundles/odiseoapp/images/logooscar.png') }}" alt="Logo Oscar Lopez" title="Logo Oscar Lopez"></a>
    </div>
    <div class="expo-noticias hidden-xs">
        <div id="news-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                {% for news in allNews %}
                    <div class="noti-recuadro"><a href="{{ path('odiseo_app_frontend_news_show', { 'id': news.id }) }}"><img src="{{ news.imageName|imagine_filter('gallery') }}" class="img-responsive"></a></div>
                    {% if loop.index is divisible by(3) and not loop.last %}
                </div>
                <div class="item">
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#news-slider" role="button" data-slide="prev">
                <img src="{{ asset('bundles/odiseoapp/images/flechitaizq.png') }}">
            </a>
            <a class="right carousel-control" href="#news-slider" role="button" data-slide="next">
                <img src="{{ asset('bundles/odiseoapp/images/flechitader.png') }}">
            </a>
        </div>
    </div>
    <div class="expo-noticias2">
        <div class="cuadros-noticias2">
            <div class="noti-recuadro2"><a href="{{ path('odiseo_app_frontend_news_show', { 'id': allNews[0].id }) }}"><p>Next article...</p></a></div>
            <div class="slide-derecho2"><img src="{{ asset('bundles/odiseoapp/images/flechitader.png') }}"></div>
        </div>
    </div>
</div>
<footer>
    <p><span class="textnoti">{{ 'odiseo.footer.title'|trans }}</span></p>
</footer>
{% endblock %}