{% form_theme form 'OdiseoBackendBundle::forms.html.twig' %}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
        </fieldset>
    </div>
</div>

{{ form_rest(form) }}
