<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <meta name="author" content="Odiseo Team">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{#{ absolute_url(asset('assets/app/images/facebook_share.png')) }#}{% endblock %}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ block('og_title') }}">
    <meta name="twitter:description" content="{{ block('og_description') }}">
    <meta name="twitter:image" content="{{ block('og_image') }}">

    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('assets/app/images/favicon.png') }}" rel="icon" type="image/png">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Scripts -->
    {{ include('_header_js.html.twig') }}
</head>
<body>
    {{ include('_facebook_sdk.html.twig') }}

    {{ include('_header.html.twig') }}
    
    {{ include('_flashes.html.twig') }}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {{ include('_footer.html.twig') }}

    {% block javascripts %}
    	{{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>